body{background-color: #A76BF9;}
h1{color: #F9B06B; font-family: Garamond; font-size: 40px; font-style: italic;}
p{color: #870909; font-family: Garamond; font-size: 40px; font-style: italic;}
a{color: #870909; font-family: Garamond; font-size: 30px; font-style: italic;}
a:hover{color: red;}