body{background-color: #9E9A9A;}
h1{color: #9B5CA0; font-family: Comic Sans MS; font-size: 40px; font-style: italic;}
p{color: #9B5CA0; font-family: Comic Sans MS; font-size: 20px; font-style: italic;}
a{color: #9B5CA0; font-family: Comic Sans MS; font-size: 20px; font-style: italic;}
a:hover{color: #00FFFF;}