body{background-color: #E6ED5A;}
h1{color: #800303; font-family: : Garamond; font-size: 40px; font-style: italic;}
p{color: #800303; font-family: Garamond; font-size: 40px; font-style: italic;}
a{color: #800303; font-family: Garamond; font-size: 30px; text-decoration: none;}
a:hover{color: white;}
